body {
    margin: 0;
    padding: 0;

    background-color: white;
    /* more styles */
}

.particles > canvas {
    position: fixed;
    right: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

/*.test {*/
/*    z-index: 1 !important;*/
/*}*/

/*.viewable {*/
/*    z-index: -2;*/
/*}*/